body {
  background-color: #f6ffe3;
}

a{
  color: #ffffff !important;
  font-size: 20px;
}

.img-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 50%;
  border-radius: 3%;
}

.table{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  background-color: #e6ffe6;
  border: 1px solid black;
}

.navbar{
  font-size: 20px;
  background-color: #6f9914d8;
  margin-bottom: 15px;
}

.container-padding {
    padding: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.button-fixed {
    min-width: 140px;
}

.button-sm {
    padding: 1px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 5px;
    text-decoration: none;
}

.pagination a.active {
    background-color: gray;
    color: white;
    border-radius: 2px;
}